<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TAXI CUSTOMER</title>
  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
  <link rel="stylesheet" href="/leaflet-routing-machine/leaflet-routing-machine.css">

  <link rel="stylesheet" href="css/taxi.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="/esri-leaflet/esri-leaflet.js"></script>
  <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>
 <script src="/leaflet-routing-machine/leaflet-routing-machine.js"></script>
 <script src="/leaflet-routing-machine/Control.Geocoder.js"></script>

  <script src="/leaflet-geoip/leaflet-geoip.js"></script>
  <script src="js/customer.js" defer></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <div class="header">
                        <h3>Welcome to TrueTransport!</h3>
        </div>
                <div class="box a" id="boxA">
                        <div class="imgcontainer-FP">
                                <img src="img/taxi2.png" width="150px" alt="login picture" class="avatar">
                        </div>
                </div>
                <div class="box b" id="boxB">
                        <div class="container" >
                                <button id="modalButton" class="button-shadow" onclick="openLoginModal()">Login</button>
                        </div>
                </div>
                <div class="box c" id="boxC">
                        <div class="container">
                                <button id="modalBtn2" class="button-shadow" onclick="openAccountModal()">Create user</button>
                        </div>
                </div>
                <div class="box d" id="boxD">
                        <div class="container">
                                <button class="button-shadow" type="submit">Contact us</button>
                        </div>
                </div>

        <div class="modal-footer">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-snapchat-ghost"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-reddit"></a>

        </div>

        <div id="login-modal" class="modal">
                <div class="modal-content">
                        <div class="wrapper">
                                <div class="modal-header">
                                        <span class="closeButton" onclick="closeLoginModal()">&times;</span>
                                                <h3>Login</h3>
                                </div>
                                <div class="imgcontainer">
                                        <img src="img/loginpic.png" width="250px" alt="login picture" class="avatar-pic">
                                </div>
                                <div class="container">
                                        <label  for="username"><b>Username</b></label>
                                        <input id="username" type="text" placeholder="Enter Username" name="uname" required>

                                        <label for="password"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Password" name="password" required>
                                        <div id="getCar">
                                                <button id="profile" type="submit" onclick="openGetACarModal();fillUserArray();pushArray();">Login</button>

                                                 <label>
                                                        <input type="checkbox" checked="checked" name="remember"> Remember me
                                                </label>
                                        </div>
                                        <label>
                                        <p><a href="">Forgot your password?</a>
                                        </label>
                                </div>
                        </div>
                </div>
        </div>
        <div id="create-account-modal" class="modal">
                <div class="modal-content">
                        <div class="wrapper">
                                <div class="modal-header">
                                        <span class="closeButton" onclick="closeAccountModal()">&times;</span>
                                        <h3>Create account</h3>
                                </div>
                                <div class="container">
                                        <label for="username"><b>Choose an username</b></label>
                                        <input type="text" placeholder="Enter Username" name="username" required>

                                        <label for="password"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Password" name="password" required>
                                        <label for="password"><b>Confirm password</b></label>
                                        <input type="password" placeholder="Enter Password" name="password" required>

                                        <button type="submit" onclick="loadUserName();">Submit</button>
                                        <label>
                                                <input type="checkbox" checked="checked" name="remember"> Remember me
                                        </label>
                                        <label>
                                                <p><a href="">Forgot your password?</a>
                                        </label>
                                </div>
                        </div>
                </div>
        </div>
        <div id="getAcar-modal" class="hidden-modal">
                <div class="hidden-modal-content">
                <div class="wrapper">
                                <div class="getACar-header">
                                <button id="logout" type="submit" onclick="closeGetACarModal();closeLoginModal();">Logout</button>
                                <div id="welcomeID"></div>
                        </div>
                        <div class="container">
                                <div class="grid-container">
                                        <div class="grid-item-1">

                                        </div>
                                        <div class="grid-item-2">
                                                <button id="getAcar"type="submit" onclick="openTravelModal();">Get a car!</button>
                                        </div>
                                        <div class="grid-item-3">
                                                <button id="profile" type="submit">Your  profile</button>
                                        </div>
                                </div>
                        </div>
                </div>
                </div>
        </div>

        <div class="app">
        <div id="travel-modal" class="hidden-modal">
        <div class="hidden-modal-content">
                <div id="travel" class="travel">
                <div class="travel-content">
                        <div class="travel-header">
                                <button type="button" name="button" id="goBack" onclick="closeTravelModal();"> Go back</button>

                               <h3>Book your trip!</h3>
                        </div>
                        <div class="container">
                                <section id="booking">


                                          <form>
                                                <label>From:</label>
                                                 <input  type="text" maxlength='50' required="required" placeholder="e.g Flogstavägen 49, Uppsala" ref="fromAddress">

                                              <label>To:</label>
                                              <input type="text" maxlength='50' required="required" placeholder="e.g Arlanda Airport, Arlanda " ref="toAddress">

                                                <label> Date: </label>
                                                <input  type="date" required="required" ref="date">

                                                <label> Time: </label>
                                                <input  type="time" required="required"  ref="time"></br>
                                          </form>

                                <div class="container">
                                        <button type="button" name="button" id="mapButton" onclick="openMapModal();">Choose from a map</button>
                                </div>
                                <div class="container">
                                        <button type="button"  v-on:click="getFormValues()" onclick="openModal3();"> Submit </button>
                                </div>
                                </div>
                                </div>
                        </div>
                        Your order number is {{ orderId }}

                </div>
                </div>


                <div id="simpleModal3" class="modal">
                        <div class="modal-content">
                                <div class="travel-header">
                                        <span class="closeButton" onclick="closeModal3()">&times;</span>
                                        <h3>Confirmation</h3>
                                </div>
                                <ul class="app">
                                  <li v-for="(adress, index) in adressForm">
                                    {{contentForm[index]}}{{ adress }}
                                  </li>
                                </ul>

                                <div class="container">
                                        <div id="display">

                                        </div>
                                 </div>
                         </div>
                        </div>

                <div id="map-modal" class="modal">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <span class="closeButton" onclick="closeMapModal()">&times;</span>
                                        <h3>Choose your destination</h3>
                                </div>

                        <div id="page">
                          <div id="my-map"></div>
                          <div class="container">
                          <button v-on:click="orderTaxi()"onclick="closeMapModal();">ORDER TAXI</button>
                        </div>
                        </div>
                </div>
                </div>
                </div>
</body>
</html>
