<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELI-VERY DISPATCHER</title>
  <link rel="stylesheet" href="css/deli-very.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/dispatcher.js" defer></script>
</head>
<body>
  <div id="orders">
    <div id="orderList">
      <div v-for="(order, key) in orders">
        #{{ key }}: {{ order.orderItems.join(", ") }}
      </div>
    </div>
    <div id="dots">
        <div v-for="(order, key) in orders" v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
          {{ key }}
        </div>
    </div>
  </div>
</body>
</html>