<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="C:/Users/Christoffer/Documents/TrueTransport/css/travel.css">
        <script src="C:/Users/Christoffer/Documents/TrueTransport/javascript/main.js" defer> </script>
        <script src="C:/Users/Christoffer/Documents/TrueTransport/javascript/travel.js" defer> </script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <title>travel</title>
</head>
<body>
        <div id="travel" class="travel">
        <div class="travel-content">
                <div class="travel-header">
                       <h3>Book your trip!</h3>
                </div>
                <div class="container">
                        <section id="booking">
                               <p>
                                       <label id="address" for="fromAddress" >From:</label>
                                       <input id="fromAddress" type="text" name="fn" maxlength='50' required="required" placeholder="e.g Flogstavägen 49, Uppsala">
                               </p>
                               <p>
                                       <label id="leaveAddress"for="toAddress">To:</label>
                                       <input id="toAddress" type="text" name="ln" maxlength='50' required="required" placeholder="e.g Arlanda Airport, Arlanda ">
                               </p>
                               <form >
                                       <label id="date" for="leaveDate"> Date: </label>
                                               <input id="leaveDate" type="date" required="required" </br>
                               </form>
                               </br> </br>
                               <label id="time" for="leaveTime"> Time: </label>
                               <input id="leaveTime" type="time" required="required" </br>
                               <div class="submit-form">
                                       <button id="submitButton" type="button" onclick="openModal3();printFunc()"> Submit </button>
                               </div>
                        </div>
                </div>
        </div>
        <div id="simpleModal3" class="modal">
                <div class="modal-content">
                        <div class="travel-header">
                                <span class="closeButton" onclick="closeModal3()">&times;</span>
                                <h3>Confirmation</h3>
                        </div>
                        <div class="container">
                                <div id="display">

                                </div>
                         </div>
                </div>
        </div>
</body>
</html>
