body{
        font-family: Arial, helvetica, sans-serif;
        font-size: 17px;
        line-height: 1.6;
        background-color: ;
}

.container{
        padding: 15px;
}

.closeBtn{
        float: right;
        font-size: 30px;
        color: grey;
}
.closeBtn:hover, .closeBtn:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
}

form {
    border: 3px solid #f1f1f1;
    align-items: center;
    width: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #4E5D73;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.travel-header{
        background:  #4E5D73;
        color: white;
        margin: 0;
        padding: 15px;
}

#time, #date{
        background:  #4E5D73;
        color: white;
        margin: 0;
        padding: 5px;

}
.submitButton{
        font-size: 17        px;
}
.modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.3);
}
.container{
        padding: 15px;
}
.modal-content{
        background-color: #f4f4f4;
        margin: 5% auto;
        width: 70%;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        animation-name: modalOpen3;
        animation-duration: 0.3s;
}
.closeButton{
        float: right;
        font-size: 30px;
        color: white;
}
.closeButton:hover, .closeButton:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
}
